# Environment variables go here, can be read by `python-dotenv` package:
#
#   ----------------------------------------------------------------
#    from dotenv import load_dotenv
#    
#    load_dotenv()
#    API_KEY = os.getenv("API_KEY")
#   ----------------------------------------------------------------
#
# DO NOT ADD THIS FILE TO VERSION CONTROL!


ANTHROPIC_API_KEY=sk-ant-...
PINECONE_API_KEY=pcsk_...

# AWS S3 (문서 이미지 저장용, 선택사항)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_REGION=ap-northeast-2
AWS_S3_BUCKET_NAME=eluo-docs
AWS_S3_PUBLIC_URL=                    # CloudFront URL (선택, 미설정 시 S3 기본 URL 사용)

# LINE WORKS 사내게시판 크롤러 (선택사항)
LINEWORKS_ID=
LINEWORKS_PW=