
GEMINI_API_KE=AI...
ANTHROPIC_API_KEY=sk-ant-...
PINECONE_API_KEY=pcsk_...

# 문서 이미지 저장: Supabase Storage 사용 (SUPABASE 환경변수가 설정되어 있으면 자동 활성화)

# LINE WORKS 사내게시판 크롤러 (선택사항)
LINEWORKS_ID=
LINEWORKS_PW=

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://noqnlspjtoqwxcarihos.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_HbBQYis1TPBbzPnEYahapg_Gz8uEcHA